
<template>
    
<div id="top-bar" class="container">
    <div class="row">
        <div class="span4"></div>
        <div class="span8">
            <div class="account pull-right">
                <ul class="user-menu">              
                    <li><a href="/admindashboard/">My Account</a></li>
                    <router-link v-bind:to="'/users'">
                        <li><a >Users</a></li>        
                    </router-link>
                    <li><a href="logoutAdmin">Logout</a></li>    
                </ul>
            </div>
        </div>
    </div>

    <div class="active item">
        <ul class="thumbnails" >                                                           
            <li class="span3" v-for="product in products" v-if = 'product.count!=0'>         
                <div class="product-box">
                    <router-link v-bind:to="'/item/' + product.id">
                        <p v-if ='product.product_image.lenght!=0'> 
                            <img :src="product.product_image[0].name" alt="" >
                        </p>
                        <a class="title">{{product['name']}}</a><br/>
                        <a class="category">{{product['description']}}</a><br>
                        <a class="category">{{product['count']}}</a>
                        <p class="price">${{product['price']}}</p>
                        <p v-if = 'product.star==0'>    
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </p>
                        <p v-if = 'product.star!=0'>
                            <i class="fa fa-star-o" :class="{starcolor:product['star']>=1}"></i>
                            <i class="fa fa-star-o" :class="{starcolor:product['star']>=2}"></i>
                            <i class="fa fa-star-o" :class="{starcolor:product['star']>=3}"></i>
                            <i class="fa fa-star-o" :class="{starcolor:product['star']>=4}"></i>
                            <i class="fa fa-star-o" :class="{starcolor:product['star']>=5}"></i>
                        </p>
                    </router-link>
                    <router-link v-bind:to="'/users'">
                        <p v-for="user in users" v-if = 'product.user_id==user.id' class="price">{{user['name']}} {{user['surname']}}</p>
                    </router-link>
                </div>
            </li>
        </ul>
    </div>

</div>
</template>

<script>
    export default {
        props: ['products','users'],
        mounted(){
            console.log(this.products)
        },
    }
</script>


<style type="text/css">
    .thumbnails{
        background-color: #fff !important
    }
</style>