<template>

    <div>
        Admin dashboard
        <h1 >{{name}}</h1>
        <h1 >{{surname}}</h1>
        <div  v-bind:class='{active:name=="Ara"}' @click='methody(surname)'>
            {{data}}
        </div>
        <input type="text" v-model='val' name="">
        <h1>{{val}}</h1>
        
    </div>
  
</template>

<script>
    export default {
        props: ['data'],
        data(){
            return {name:'Aram',surname:'karen',val:'hhhh'}
        },

        mounted() {
            console.log('hello')
        },

        methods:{
            methody(a){
                this.data='Argishti'
                alert(this.val)
            }
        }
    }
</script>


<style type="text/css">
    .active{
        background: red
    }
</style>