<template>
<div id="top-bar" class="container">
    <div class="row">
        <div class="span4"></div>
        <div class="span8">
            <div class="account pull-right">
                <ul class="user-menu">              
                    <li><a href="/admindashboard/">My Account</a></li>
                    <router-link v-bind:to="'/users'">
                        <li><a >Users</a></li>        
                    </router-link>
                    <li><a href="logoutAdmin">Logout</a></li>    
                </ul>
            </div>
        </div>
    </div>

    <section class="main-content">              
        <div class="row">
            <div class="span4">
                <img alt="" :src="image">                                               
                <ul class="thumbnails small">
                    <li v-for="prod in product.product_image" class="span1">                      
                        <img :src="prod.name" alt="">
                    </li>      
                </ul>
            </div>
            <div class="span5">
                <address>
                    <strong>Name:</strong> <span>{{product['name']}}</span><br>
                    <strong>Count:</strong> <span>{{product['count']}}</span><br>
                    <strong>Description:</strong> <span>{{product['description']}}</span><br>
                    <strong>Star:</strong> <span>
                        <p v-if = 'product.star==0'>    
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </p>
                        <p v-if = 'product.star!=0'>
                           <i class="fa fa-star-o" :class="{starcolor:product['star']>=1}"></i>
                           <i class="fa fa-star-o" :class="{starcolor:product['star']>=2}"></i>
                           <i class="fa fa-star-o" :class="{starcolor:product['star']>=3}"></i>
                           <i class="fa fa-star-o" :class="{starcolor:product['star']>=4}"></i>
                           <i class="fa fa-star-o" :class="{starcolor:product['star']>=5}"></i>
                        </p>
                    </span><br>
                </address>                                  
                <h4><strong>Price: ${{product['price']}}</strong></h4>
                <form @submit.prevent="Allow">
                    <button class="btn btn-inverse"  type="submit">Allow</button><br>
                </form>
                <form @submit.prevent="Reject">
                    <input type="text" name="title" v-model="newPost">
                    <button class="btn btn-inverse" type="submit">Reject</button>
                </form>
            </div>
        </div>
    </section>
</div>
</template>

<script>
    export default {
        props:['products'],
        data(){
            return {product:'',image:'',newPost:''}
        },
        mounted() {
            this.product = Object.values(this.products).find(a=>a.id==this.$route.params.id)
            console.log(this.product)
            this.image = this.product.product_image[0]['name']
        },
        methods: {
            Reject(){
                axios.post('/item',{title: this.newPost , id: this.product['id']})
                .then((response)=>{
                    console.log(response)  
                    location.href='/admindashboard'    
                })
            },
            Allow(){
                axios.post('/allow',{prod_id: this.product['id']})
                .then((response)=>{
                    console.log(response) 
                    location.href='/admindashboard'    
                         
                })
            }
        } 
    }
</script>


<style type="text/css">
    
</style>