<template>
    
    <div id="top-bar" class="container">

        <div class="row">
            <div class="span4"></div>
            <div class="span8">
                <div class="account pull-right">
                    <ul class="user-menu">              
                        <li><a href="/admindashboard/">My Account</a></li>
                        <router-link v-bind:to="'/users'">
                            <li><a >Users</a></li>        
                        </router-link>
                        <li><a href="logoutAdmin">Logout</a></li>    
                    </ul>
                </div>
            </div>
        </div>

        <div class="active item">
            <ul class="thumbnails" >                                                           
                <li class="span3" v-for="user in users" >                    
                    <div class="product-box">
                        <a class="title">{{user['name']}}</a><br/>
                        <a class="title">{{user['surname']}}</a><br>
                        <a class="title">{{user['age']}}</a><br>
                        <a class="title">{{user['email']}}</a>
                        <div v-if="user['time']<jamanak">
                        <form @submit.prevent="Block(user.id,user)">
                            <input type="text" class="span1" name="title" v-model="user.jam" style="margin-top: 11px;">
                            <button type="submit" class="btn btn-inverse">Block</button>        
                        </form>
                        </div>
                        <div v-if="user['time']>=jamanak">
                            <a class="category">block {{parseInt((user['time']-jamanak)/24/3600)}} day {{parseInt(((user['time']-jamanak)/24/3600-parseInt((user['time']-jamanak)/24/3600))*24)}} hours {{parseInt((((user['time']-jamanak)/24/3600-parseInt((user['time']-jamanak)/24/3600))*24-parseInt(((user['time']-jamanak)/24/3600-parseInt((user['time']-jamanak)/24/3600))*24))*60)}} minute</a>                         
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>

</template>

<script>
    export default {
        props: ['users'],
        data(){
            return {jam:'',id:'',jamanak:''}
        },
        mounted() {
            for(let i=0;i<this.users.length;i++){
                this.users.jam = ''
            }
           

            this.jamanak = parseInt(Date.now()/1000) 
        },
        methods: {
            Block(a,b){
                b['time']=this.jamanak+b.jam*24*3600+''
            // console. log(a)
                
                this.jamanak = parseInt(Date.now()/1000)
                axios.post('/block',{jam: this.jamanak+b.jam*24*3600, id: a})
                .then((response)=>{
                       
                })
            } 
        }
    }
</script>